<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h1>Weather</h1>

        <form action="">
            <input type="text">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

        {{>footer}}
        <script src="/app.js"></script>
    </body>
</html>